<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 gy-3">
            <div class="row gy-3">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">NAME</label>
                    <input type="text" class="form-control" placeholder="NAME" name="name" [(ngModel)]="name">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">BLOOD GROUP</label>
                    <select name="bloodGroup" [(ngModel)]="bloodGroup" id="" class="form-control">
                        <option value="A+">A+</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B-">B-</option>
                        <option value="O+">O+</option>
                        <option value="O-">O-</option>
                        <option value="AB+">AB+</option>
                        <option value="AB-">AB-</option>
                    </select>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">DATE OF BIRTH</label>
                    <input type="date" class="form-control" placeholder="DATE OF BIRTH" name="dateOfBirth" [(ngModel)]="dateOfBirth">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">LAST DONATED DATE</label>
                    <input type="date" class="form-control" placeholder="LAST DONATED DATE" name="lastDonatedDate" [(ngModel)]="lastDonatedDate">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">PREVIOUS DISEASES</label>
                    <input type="text" class="form-control" placeholder="PREVIOUS DISEASES" name="previousDisease" [(ngModel)]="previousDisease">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">LAST VACCINATION DATE</label>
                    <input type="date" class="form-control" placeholder="LAST VACCINATION DATE" name="lastVaccinationDate" [(ngModel)]="lastVaccinationDate">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">ADDRESS</label>
                    <textarea name="address" [(ngModel)]="address" id="" cols="30" rows="10" class="form-control" placeholder="ADDRESS"></textarea>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">PINCODE</label>
                    <input type="text" class="form-control" placeholder="PINCODE" name="pincode" [(ngModel)]="pincode">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">MOBILE NUMBER</label>
                    <input type="text" class="form-control" placeholder="MOBILE NUMBER" name="mobileNumber" [(ngModel)]="mobileNumber">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">EMAIL-ID</label>
                    <input type="email" class="form-control" placeholder="EMAIL-ID" name="email" [(ngModel)]="email">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <button class="btn btn-success" (click)="readValues()">SUBMIT</button>
                </div>
            </div>
        </div>
    </div>
</div>